@media (max-width: 500px) {
    .card-columns {
        column-count: 1;
    }
}

@media (min-width: 500px) and (max-width: 600px) {
    .card-columns {
        column-count: 2;
    }
}

@media (min-width: 600px) and (max-width: 1000px) {
    .card-columns {
        column-count: 3;
    }
}

@media (min-width: 1000px) and (max-width: 1199px) {
    .card-columns {
        column-count: 4;
    }
}

@media (min-width: 1200px) {
    .card-columns {
        column-count: 5;
    }
}