{% extends "base.html" %}
{% block content %}
<h1> </h1>
<h1><center><font color="white">Добавление фильма</font></center></h1>
<h2> </h2>
<div class="container">
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        <font color="white">{{ form.title.label }}</font><br>
        {{ form.title(class="form-control") }}<br>
        {% for error in form.title.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        <font color="white">{{ form.rating.label }}</font><br>
        {{ form.rating(class="form-control") }}<br>
        {% for error in form.rating.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        <font color="white">{{ form.actors.label }}</font><br>
        {{ form.actors(class="form-control") }}<br>
        {% for error in form.actors.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        <font color="white">{{ form.producer.label }}</font><br>
        {{ form.producer(class="form-control") }}<br>
        {% for error in form.producer.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        <font color="white">{{ form.premiere.label }}</font><br>
        {{ form.premiere(class="form-control") }}<br>
        {% for error in form.premiere.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        <font color="white">{{ form.duration.label }}</font><br>
        {{ form.duration(class="form-control") }}<br>
        {% for error in form.duration.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        <font color="white">{{ form.description.label }}</font><br>
        {{ form.description(class="form-control") }}<br>
        {% for error in form.description.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        <font color="white">{{ form.poster_url.label }}</font><br>
        {{ form.poster_url(class="form-control") }}<br>
        {% for error in form.poster_url.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        <font color="white">{{ form.trailer_url.label }}</font><br>
        {{ form.trailer_url(class="form-control") }}<br>
        {% for error in form.trailer_url.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        <font color="white">{{ form.images.label }}</font><br>
        {{ form.images(class="form-control") }}<br>
        {% for error in form.images.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        <font color="white">{{ form.genres.label }}</font><br>
        {{ form.genres(class="form-control") }}<br>
        {% for error in form.genres.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    {{message}}
</form>
</div>>
{% endblock %}