{% extends "base_order.html" %}
{% block content %}
<style>
    .movie-vposter {
        width: 90px;
        box-shadow: 0 4px 8px 0 rgba(0 0 0 0.20), 0 6px 20px 0 rgba(0 0 0 0.19);
        display: block;
    }

    .text_param {
        color: white;
    }

    .film-data {
        color: #B9B9BB;
        font-size: 90%;
    }

    a {
        -moz-transition: 0.4s;
        -webkit-transition: 0.4s;
        transition: 0.4s;
        color: #fbfbfb;
    }

    a:hover, a:active, a:focus {
        color: #009cff;
        text-decoration: none;
        outline: none !important;
    }

    a:active {
        -moz-box-shadow: 0 0 0 0 transparent;
        -webkit-box-shadow: 0 0 0 0 transparent;
        box-shadow: 0 0 0 0 transparent;
    }

    .session a {
        padding: .4rem 1rem;
        border: #797A7C 1px solid;
        border-radius: .25rem;
    }

    .hallplan-wrapper {
        position: relative;
    }

    .hallplan-wrapper .plan-canvas {
        position: absolute;
        z-index: 2;
    }

    .hallplan-wrapper .rowmark {
        /*position: absolute;*/
        z-index: 1;
        margin-bottom: 1.2rem;
    }

    .hallplan-wrapper .plan-canvas .place {
        /*position: absolute;*/
        color: #CBCBCC;
        font-size: .7rem;
        text-align: center;
    }

    .status-1 {
        border: 1px solid white;
    }

    .status-2 {
        background-color: #28ACE2 !important;
        border: none !important;
    }

    .checked {
        background-color: #C6127D !important;
        border-color: #C6127D;
    }

    .place {
        border-bottom-left-radius: 30%;
        border-bottom-right-radius: 30%;
        user-select: none;
    }

    #seat {
        width: 30px;
        height: 30px;
        font-size: 15px;
        line-height: 30px;
        margin-right: 0.7rem;
        margin-bottom: 0.7rem;
    }

    .hallplan-wrapper .plan-canvas .place:not(.status-2):not(.status-3) {
        cursor: pointer;
        transition: all 250ms ease-in-out;
    }

    .hallplan-wrapper .plan-canvas .place:not(.status-2):not(.status-3):hover {
        border-color: deepskyblue;
    }

    .switchable input {
        display: none;
    }

    .switchable input:checked + #seat:not(.status-2):not(.status-3) {
        background-color: #C6127D !important;
        border-color: #C6127D;
    }


    html {
        overflow-x: hidden;
    }

    #plan-container {
        position: relative;
    }

    .legend {
        position: relative;
        top: 50%;
    }

    .fs-09 {
        font-size: .9rem;
    }

    .footer {
        border-top: #979797 solid 1px;
        padding: .2rem 1rem;
    }

    .fixed-bottom {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1030;
    }
</style>
<form id='hallplan' action="" method="POST"></form>
<div class="container-fluid"
     style="border-bottom: 1px solid; border-bottom-color: #8E8E8E;">
    <div class="container"
         style="margin-top: 1.5rem; margin-bottom: 1.5rem">
        <div class="d-flex flex-row">
            <div class="d-flex" style="height: 100px;">
                {% if params['film'].poster_url == None %}
                <img src="/static/img/none_img.jpg"
                     class="rounded movie-vposter"
                     alt="{{params['film'].title}}">
                {% else %}
                <img src="{{params['film'].poster_url}}"
                     class='rounded movie-vposter'
                     alt="{{params['film'].title}}">
                {% endif %}
            </div>
            <div class="d-flex pl-3">
                <div>
                    <div class="d-flex flex-column">
                        <h3 class="text_param">
                            {{params['film'].title}}</h3>
                    </div>
                    <div class="d-flex text_param">
                        <div class="pr-3">
                            Киномакс Волгоград
                        </div>
                        <div class="pr-3">|</div>
                        <div class="pr-3">
                            {{params['session'].start_time.strftime('%d %A
                            в
                            %H:%M')}}
                        </div>
                        <div class="pr-3">|</div>
                        <div>Зал {{params['session'].hall_id}}</div>
                    </div>
                    <div class="d-flex pt-2 film-data">
                        Рабоче-Крестьянская улица, 10, Волгоград,
                        Волгоградская
                        обл., 400001
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div style="display: block;">
        <div class="row clearfix pt-4"
             style="transform-origin: 50% 0; transform: scale(1);">
            <div class="container" id="plan-container">
                <div style="position: relative; height: 100px">
                    <div style="position: absolute; width: 950px; left:75px">
                        <svg focusable="false"
                             xmlns="http://www.w3.org/2000/svg"
                             viewBox="0 0 670 386.5"
                             preserveAspectRatio="none">
                            <radialGradient id="gradient" cx="336.83"
                                            cy="284.39"
                                            r="473.49"
                                            gradientTransform="translate(0 -398)"
                                            gradientUnits="userSpaceOnUse">
                                <stop offset="0" stop-color="#fff"
                                      stop-opacity=".97"></stop>
                                <stop offset=".04" stop-color="#fff"
                                      stop-opacity=".91"></stop>
                                <stop offset=".25" stop-color="#fff"
                                      stop-opacity=".59"></stop>
                                <stop offset=".44" stop-color="#fff"
                                      stop-opacity=".34"></stop>
                                <stop offset=".6" stop-color="#fff"
                                      stop-opacity=".15"></stop>
                                <stop offset=".79" stop-color="#fff"
                                      stop-opacity=".0"></stop>

                            </radialGradient>
                            <path class="gradient"
                                  d="M0 386.5s73.5-49.2 335-49.2 335 49.2 335 49.2V45.8S584.5 4.2 333.3 4.2C102.6 4.3 0 45.8 0 45.8v340.7z"
                                  style="fill: url(#gradient);"></path>
                            <path d="M0 48.5S97.8 7 335 7c238.6 0 335 41.5 335 41.5v-5.4S578.3 1.5 335 1.5 0 43.2 0 43.2v5.3z"
                                  style="fill: white;"></path>
                        </svg>
                    </div>
                    <div style="position: absolute; height: 4rem; color: white;font-size: 2rem;
     text-align: center;left: 75px; top: 20px; width: 950px;">ЭКРАН
                    </div>
                </div>
                <div class="hallplan-wrapper"
                     style="height: auto; width: auto;">
                    <div id='parent_class'
                         class="plan-canvas d-flex flex-wrap"
                         style="width: 950px; left:75px; padding-left: 4rem; padding-right: 3rem">
                        <!--Клетки кресел-->
                        {% set data = namespace(row=1, col=0)%}
                        {% for i in params['places'] %}
                        {% if data.col >= 20 %}
                        {% set data.row = data.row + 1 %}
                        {% set data.col = 0 %}
                        {% endif %}
                        {% set data.col = data.col + 1%}
                        <label class="switchable">
                            <input form="hallplan" type='checkbox'
                                   name="{{data.row}}-{{data.col}}">
                            {% if i.status %}
                            <div id="seat"
                                 class="d-flex flex-column status-2 place text_param"
                                 data-toggle="tooltip"
                                 data-placement="top" title="Место занято">
                                {{data.col}}
                            </div>
                            {% else %}
                            <div id="seat"
                                 class="d-flex flex-column status-1 place text_param"
                                 data-toggle="tooltip" data-placement="top"
                                 title="Место свободно">
                                {{data.col}}
                            </div>
                            {% endif %}
                        </label>
                        {% endfor %}
                    </div>
                    <!--Цикл для столбцов-->
                    {% set count = (params['places']|length / 20)|round|int %}
                    {% for i in range(count)%}
                    <div class="d-flex justify-content-start rowmark w-100"
                         style="height:30px;">
                        <div class="p-0 text_param"
                             style="font-size: 15px; line-height: 30px">
                            {{loop.index}}
                        </div>
                        <div class="p-0 ml-auto text_param"
                             style="font-size: 15px; line-height: 30px">
                            {{loop.index}}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="container legend">
                <div class="row pt-3">
                    <div class="container" id="plan-legend">
                        <div class="d-flex fs-09 justify-content-center">
                            <div id="seat" class="place status-1"></div>
                            <div class="pl-2 pr-4 text_param">
                                <span>Место<br>{{params['session'].price}}₽</span>
                            </div>
                            <div id="seat" class="place status-2"></div>
                            <div class="pl-2 pr-4 text_param">
                                <span>Место<br>занято</span>
                            </div>
                            <div id="seat" class="place checked"></div>
                            <div class="pl-2 pr-4 text_param">
                                <span>Место<br>выбрано</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<nav class="navbar fixed-bottom navbar-dark bg-dark footer">
    <div class="container">
        <div class="d-flex flex-row-reverse w-100">
            <div class="p-2">
                <button form="hallplan" class="btn btn-success">
                    Продолжить
                </button>
            </div>
        </div>
    </div>
</nav>

{% if modal_alert %}
<script type="application/javascript">
    $(document).ready(function () {
        $('#exampleModal').modal('show')
    });
</script>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Не выбрано
                    место</h5>
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Чтобы перейти к оформлению заказа необходимо выбрать место
                в
                зале.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary"
                        data-dismiss="modal">Close
                </button>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}