{% extends "base.html" %}

{% block content %}

{% if filtered %}

{% endif %}
<script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js"
        integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D"
        crossorigin="anonymous" async></script>

<div class="row" data-masonry='{"percentPosition": true }'>
    {% for film in films %}
    <div class="col-sm-6 col-lg-4 mb-4"
         style="position: absolute; left: 0; top: 0;">
        <div class="card">
            {% if film.poster_url == None %}
            <img src="{{ url_for('static', filename='img/none_img.jpg') }}"
                 class="card-img-top">
            {% else %}
            <img src="{{ film.poster_url }}" class="card-img-top">
            {% endif %}
            <div class="card-body">
                <a href="/api/film/{{ film.id}}"><h5 class="card-title">{{
                    film.title }}</h5></a>
                <p class="card-text">Some quick example text to
                    build
                    on the card title
                    and make up the bulk of the card's content.</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
