{% extends "base.html" %}
{% block nav_block %}
<div class="form-inline">
    <button class="navbar-toggler bg-light" type="button"
            data-toggle="collapse"
            data-target="#navbarToggleExternalContent"
            aria-controls="navbarToggleExternalContent"
            aria-expanded="false" aria-label="Toggle navigation"
            style="margin-right: 20px">Фильтр
    </button>
    <form id='search_filter_form' action="" method="post">
        <input class="form-control mr-sm-2" type="search"
               placeholder="Название фильма" name="title">
        <button class="btn my-2 my-sm-0 bg-warning">Поиск
        </button>
    </form>
</div>
{% endblock %}
{% block content %}
<div class="container" style="padding-right: 0; padding-left: 0">
    <div class="collapse" id="navbarToggleExternalContent">
        <div class="card card-body"
             style="margin-top: 1%; padding-top: 1%;
          background-color: rgba(255, 255, 255, 0.9)"
             data-toggle="tooltip"
             title="Установите галочку, чтобы применить фильтр">
            <div class="container">
                <div class="row justify-content-end align-items-start">
                    <div class="col-4" align="center">
                        <h3 class="card-title">Настройки фильтра</h3>
                    </div>
                    <div class="col-4" align="right">
                        <button class="navbar-toggler" type="button"
                                data-toggle="collapse"
                                data-target="#navbarToggleExternalContent"
                                aria-controls="navbarToggleExternalContent"
                                aria-expanded="false"
                                style="align-self: flex-end; padding-right: 0">
                            <img src="/static/img/close.svg" alt="" width="20"
                                 height="20">
                        </button>
                    </div>
                </div>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text"
                           for="inputGroupSelect01">
                        <input type="checkbox"
                               aria-label="chb1" name="year_cb"
                               form="search_filter_form">
                    </label>
                </div>
                <select class="custom-select" id="inputGroupSelect01"
                        style="margin-right: 1.5%" form="search_filter_form"
                        name='year'>
                    <option selected value="#">Год</option>
                    {% for item in filter.years %}
                    <option value="{{item}}">{{item}}</option>
                    {% endfor %}
                </select>

                <div class="input-group-prepend">
                    <label class="input-group-text"
                           for="inputGroupSelect02">
                        <input type="checkbox"
                               aria-label="Checkbox" name="genre_cb"
                               form="search_filter_form">
                    </label>
                </div>
                <select class="custom-select" id="inputGroupSelect02"
                        style="margin-right: 1.5%" form="search_filter_form"
                        name='genre'>
                    <option selected value="#">Жанр</option>
                    {% for item in filter.genres %}
                    <option value="{{item}}">{{item}}</option>
                    {% endfor %}
                </select>

                <div class="input-group-prepend">
                    <label class="input-group-text"
                           for="inputGroupSelect03">
                        <input type="checkbox"
                               aria-label="Checkbox" name="duration_cb"
                               form="search_filter_form">
                    </label>
                </div>
                <select class="custom-select" id="inputGroupSelect03"
                        style="margin-right: 1.5%" form="search_filter_form"
                        name='duration'>
                    <option selected value="#">Длительность</option>
                    {% for item in filter.duration %}
                    <option value="{{item}}">{{item}}</option>
                    {% endfor %}
                </select>

                <div class="input-group-prepend">
                    <label class="input-group-text"
                           for="inputGroupSelect04">
                        <input type="checkbox"
                               aria-label="Checkbox for following text input"
                               name="producer_cb" form="search_filter_form">
                    </label>
                </div>
                <select class="custom-select" id="inputGroupSelect04"
                        form="search_filter_form" name='producer'>
                    <option selected value="#">Режиссер</option>
                    {% for item in filter.producer %}
                    <option value="{{item}}">{{item}}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="card-body" style="padding-bottom: 0; padding-top: 0; padding-right: 0"
                 align="right">
                <button class="btn btn-primary" form="search_filter_form">
                    Начать поиск </button>
            </div>

        </div>
    </div>
</div>
{% if not filtered %}
<ul class="container" style="padding-right: 0.5%; margin-top: 2%">
    <li style="display: inline-block; width: 48%; height: 100%">
        <div class="card"
             style="background-color: rgba(150, 150, 150, 0.5);
             color: white; border-color: white;">
            <div class="card-body">
                <h5 class="card-title"
                    style="margin-bottom: 2%; padding-top: 0">
                    Топ новинок</h5>
                <div id="carouselTopWatchers" class="carousel slide"
                     data-ride="carousel">
                    <div class="carousel-inner rounded">
                        {% for film in new_films %}
                        {% if loop.first%}
                        <div class="carousel-item active"
                             data-interval="6000">
                            {% else %}
                            <div class="carousel-item"
                                 data-interval="6000">
                                {% endif %}
                                <div class="toplayer rounded"
                                     align="center">
                                    <a href="/films/{{film.id}}"
                                       class="d-block w-100">
                                        {% if film.poster_url == None %}
                                        <img src="/static/img/none_img.jpg"
                                             class="img-fluid rounded"
                                             alt=""
                                             style="height: 200px;">
                                        {% else %}
                                        <img src="{{ film.poster_url }}"
                                             class="img-fluid rounded"
                                             alt=""
                                             style="height: 200px;">
                                        {% endif %}
                                    </a>
                                    <h5 style="margin-top: 1%; margin-bottom: 0">
                                        {{film.title}}</h5>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <a class="carousel-control-prev"
                           href="#carouselTopWatchers"
                           role="button" data-slide="prev">
                <span class="carousel-control-prev-icon"
                      aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next"
                           href="#carouselTopWatchers"
                           role="button" data-slide="next">
                <span class="carousel-control-next-icon"
                      aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </li>
    <li style="display: inline-block; width: 47.8%; height: 100%; margin-left: 2.9%">
        <div class="card"
             style="background-color: rgba(150, 150, 150, 0.5);
             color: white; border-color: white;">
            <div class="card-body">
                <h5 class="card-title"
                    style="margin-bottom: 2%; padding-top: 0">
                    Топ популярных фильмов</h5>
                <div id="carouselNewFilm" class="carousel slide"
                     data-ride="carousel">
                    <div class="carousel-inner rounded">
                        {% for film in most_watched_films %}
                        {% if loop.first%}
                        <div class="carousel-item active"
                             data-interval="5000">
                            {% else %}
                            <div class="carousel-item"
                                 data-interval="5000">
                                {% endif %}
                                <div class="toplayer rounded"
                                     align="center">
                                    <a href="/films/{{film.id}}"
                                       class="d-block w-100">
                                        {% if film.poster_url == None %}
                                        <img src="/static/img/none_img.jpg"
                                             class="img-fluid rounded"
                                             alt=""
                                             style="height: 200px;">
                                        {% else %}
                                        <img src="{{ film.poster_url }}"
                                             class="img-fluid rounded"
                                             alt=""
                                             style="height: 200px;">
                                        {% endif %}
                                    </a>
                                    <h5 style="margin-top: 1%; margin-bottom: 0">
                                        {{film.title}}</h5>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <a class="carousel-control-prev"
                           href="#carouselNewFilm"
                           role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon"
                          aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next"
                           href="#carouselNewFilm"
                           role="button" data-slide="next">
                    <span class="carousel-control-next-icon"
                          aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </li>

</ul>
{% endif %}
<div style="clear: left"></div>
<link rel='stylesheet' type='text/css'
      href="/static/css/main_window.css">
<style>
    a {
        -moz-transition: 0.4s;
        -webkit-transition: 0.4s;
        transition: 0.4s;
        color: #626262;
    }

    a:hover, a:active, a:focus {
        color: #009cff;
        text-decoration: none;
        outline: none !important;
    }

    a:active {
        -moz-box-shadow: 0 0 0 0 transparent;
        -webkit-box-shadow: 0 0 0 0 transparent;
        box-shadow: 0 0 0 0 transparent;
    }

    .item {
        -moz-perspective: 1000px;
        -webkit-perspective: 1000px;
        perspective: 1000px;
        -moz-transition: 0.8s;
        -webkit-transition: 0.8s;
        transition: 0.8s;
        /*display: block;*/
        width: 100%;
        height: 100%;
    }

    .item > a {
        -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
        -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
        display: block;
        height: 100%;
    }

    .item > a:hover {
        -moz-box-shadow: 0 6px 20px 0 rgba(255, 255, 255, 0.43);
        -webkit-box-shadow: 0 6px 20px 0 rgba(255, 255, 255, 0.43);
        box-shadow: 0 6px 20px 0 rgba(255, 255, 255, 0.43);
        height: 100%;
    }

    .card-deck {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-gap: .5rem;
    }
</style>
<div class="container" style="padding-top: 1%; padding-bottom: 1%">
    <div class="card-deck">
        {% for film in films %}
        <div class="card" style="margin-bottom: 3%">
            <div class="item">
                <a href="/films/{{film.id}}">
                    {% if film.poster_url == None %}
                    <img src="/static/img/none_img.jpg"
                         class="card-img-top" alt="">
                    {% else %}
                    <img src="{{ film.poster_url }}"
                         class="card-img-top" alt="">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{film.title }}</h5>
                        <p class="card-text">{{
                            film.genre|map(attribute='name')|join(', ') }}</p>
                        {% if film.premiere != None %}
                        <p class="card-text">
                            {{film.premiere.split('-')[0]}}</p>
                        {% endif %}
                    </div>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
