{% extends "base.html" %}

{% block content %}

{% if filtered %}

{% endif %}
<style>
    .card-columns {
        display: inline-block;
        column-count: 3;

    @include media-breakpoint-only(lg) {
        column-count: 4;
    }
    @include media-breakpoint-only(xl) {
        column-count: 5;
    }
    }
</style>
<div class="container">
    <div class="row equal">
        {% for film in films %}
        <div class="col-sm-4 d-flex">
            <div class="card" style="width: auto;">
                {% if film.poster_url == None %}
                <img src="{{ url_for('static', filename='img/none_img.jpg') }}"
                     class="card-img-top">
                {% else %}
                <img src="{{ film.poster_url }}" class="card-img-top">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ film.title }}</h5>
                    <p class="card-text">Some quick example text to build on
                        the
                        card
                        title
                        and make up the bulk of the card's content.</p>

                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
