{% extends "base.html" %}
{% block content %}
<h1> </h1>
<h1><center><font color="white">Авторизация</font></center></h1>
<h2> </h2>
<div class="container">
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            <font color="white">
                {{ form.login.label }}</font><br>
            {{ form.login(class="form-control") }}<br>
            {% for error in form.login.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
            <font color="white">
                {{ form.password.label }}</font><br>
            {{ form.password(class="form-control", type="password") }}<br>
            {% for error in form.password.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p><font color="white">{{ form.remember_me() }} {{ form.remember_me.label }}</font></p>
        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
        <div style="color: white">{{ message }}</div>
    </form>
</div>>
{% endblock %}